@import '../../assets/vars-and-mixins';
$heightRows: 60px;
.list {
  &__data {
    border-collapse: collapse;
    &__header {
      .header-titles {
        cursor: pointer;
        width: 7vw;
      }
    }
    .rows {
      height: $heightRows;
      text-align: left;
      &:nth-child(even) {
        background-color: #dddddd;
      }
      &__methods  {
        height: $heightRows;
        width: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }
    }
    .data-in-row {
      padding-left: .5em;
    }
  }
}
